@model api_pokemon.DTOs.PokemonDTO
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Pokedex</h1>
    <form asp-controller="Inicio" asp-action="Index" method="get">
        <input type="search" name="nombre" placeholder="Buscar Pokemon" class="search-input">
        <button type="submit" class="btn btn-primary  btn-lg">Buscar</button>
    </form>
</div>

@if (Model != null)
{
    <div class="card mx-auto mt-4">
        <div class="card-body">
            @if (Model.Sprites != null && !string.IsNullOrEmpty(Model.Sprites.FrontDefault))
            {

                <img src="@Model.Sprites.FrontDefault" alt="imagen" class="card-img-top">
            }
            else
            {
                <p>No se encontro la imagen para este pokemon.</p>
            }
        </div>
        <div class="content ">
            <h2 class="card-title">@Model.Name</h2>
            <p class="card-text">Id: @Model.Id</p>
        </div>
    </div>
}
else if (ViewBag.Error != null)
{
    <div class="alert alert-danger mt-4">@ViewBag.Error</div>
}