@model api_pokemon.DTOs.PokemonDTO
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Pokemon API</h1>
    <form asp-controller="Inicio" asp-action="Index" method="get">
        <input type="search" name="nombre" placeholder="Buscar Pokemon">
        <button type="submit">Buscar</button>
    </form>
</div>

@if (Model != null)
{
    <div>
        <h2>@Model.Name</h2>
        <p>Id: @Model.Id</p>
        @if (Model.Sprites != null && !string.IsNullOrEmpty(Model.Sprites.FrontDefault))
        {

            <img src="@Model.Sprites.FrontDefault" alt="imagen">
        }
        else
        {
            <p>No se encontro la imagen para este pokemon.</p>
        }
    </div>
}
else if (ViewBag.Error != null)
{
    <p style="color: red;"> @ViewBag.Error</p>
}