@{
    ViewData["Title"] = "Customers";
}

<div class="text-center">
    <h1 class="display-4 mt-4">Detalles De Clientes</h1>
</div>

<div class="row">
    <div class="card">
        <div class="table-responsive mt-4">
            <div class="table-hover">
                <table class="table table-hover" width="100%">
                    <thead class="table-dark mt-4">
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>NIT</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Bryan</td>
                            <td>Ignacio</td>
                            <td>3476123</td>
                            <td>info|editar|borrar</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Bryan</td>
                            <td>Ignacio</td>
                            <td>3476123</td>
                            <td>info|editar|borrar</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
