@model CRUDproductsR1.Models.Product
@{
    ViewData["Title"] = "Borrar Producto";
}

<div class="row">
    <div class="text-center">
        <h3>Producto: @Html.DisplayFor(m => m.Codigo)
    </div>
</div>

<div class="row">
    <div class="card">
        <div class="card-header">
            <h4>Ingrese la Información del Producto</h4>
        </div>
        <div class="card-body">
            <form asp-controller="Site" asp-action="Agregar">
                <div class="form-group">
                    <label asp-for="Codigo" class="control-label"></label>
                    <input asp-for="Codigo" class="form-control" placeholder="Ingresa el nuevo Codigo">
                    <span asp-validation-for="Codigo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" placeholder="Ingresa el nuevo Nombre">
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrecioUnitario" class="control-label"></label>
                    <input asp-for="PrecioUnitario" class="form-control" placeholder="Ingresa el nuevo Precio Unitario">
                    <span asp-validation-for="PrecioUnitario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrecioFardo" class="control-label"></label>
                    <input asp-for="PrecioFardo" class="form-control" placeholder="Ingresa el nuevo Precio Fardo">
                    <span asp-validation-for="PrecioFardo" class="text-danger"></span>
                </div>
                <div class="form-group mt-4">
                    <button type="submit" class="btn btn-warning d-block mx-auto">
                        <i class="fa-solid fa-circle-plus"></i> Agregar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <a class="btn btn-success mt-4" asp-controller="Site" asp-action="Index">
        <i class="fa-solid fa-circle-left"></i> Regresar</a>
</div>