@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Listado de Productos</h3>
</div>

<div class="card">
    <div class="card-header bg-black text-white">
        <h4>Información</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive mt-4">
            <table class="table table-bordered table-hover table-responsive" width="100%">
                <thead class="table-info">
                    <tr>
                        <th class="text-center">Id</th>
                        <th class="text-center">Codigo</th>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Precio Unitario</th>
                        <th class="text-center">Precio Fardo</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>CF001</td>
                        <td>Café la Jarrillita</td>
                        <td>10</td>
                        <td>1200</td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-warning mx-2">Editar</button>
                                <button type="button" class="btn btn-info mx-2">Información</button>
                                <button type="button" class="btn btn-danger mx-2">Borrar</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>JG002</td>
                        <td>Jugo del Frutal</td>
                        <td>5</td>
                        <td>120</td>
                        <td>
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-warning mx-2">Editar</button>
                                <button type="button" class="btn btn-info mx-2">Información</button>
                                <button type="button" class="btn btn-danger mx-2">Borrar</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>