@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="text-center">
        <h4>Login</h4>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-body">
                <form asp-controller="Site" asp-action="Login">
                    <div class="form-group">
                        <label></label>
                        <input type="text">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>