*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search-input{
  padding: 12px 12px;
  width: 250px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.search-input:focus {
  outline: none;
  border-color: #3b82f6; /* Azul bonito */
  box-shadow: 0 0 5px rgba(59, 130, 246, 0.5);
}

.card{
  width: 20rem;
}

.content{
  padding: 15px 15px;
}